{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-8 col-md-8 col-lg-8 mx-auto" style="max-width: 500px;">
                <div class="card bg-clr-dom-light text-white shadow-sm" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">

                            <h3 class="fw-bold mb-2 text-uppercase">{% trans "Log In" %}</h3>
                            <p class="text-white-50 mb-5">Please Enter Your User and Password!</p>

                            <div class="form-outline form-white mb-4 form-group">
                                <!-- Login form -->
                                <form class="login" method="POST" action="{% url 'account_login' %}">
                                    {% csrf_token %} <!-- Security token from django against attackers -->

                                    <div class="form-group">
                                        {{ form.login.label_tag }}
                                        <input type="text" class="form-control mb-4" name="login">
                                    </div>

                                    <div class="form-group">
                                        {{ form.password.label_tag }}
                                        <input type="password" class="form-control mb-4" name="password">
                                    </div>
                                    <button class="btn btn-signup right px-3 py-1 rounded-3 bg-primary mb-4"
                                        type="submit">{% trans "Log In" %} &raquo;</button>
                                    <small class="text-muted d-block">
                                        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                                    </small>
                                </form>

                            </div>
                            <!-- Sign up Link -->
                            <div>
                                <hr class="my-4">
                                <p class="mb-0">Don't have an account? <a href="{{ signup_url }}"
                                        class="text-primary fw-bold">Sign Up Now!</a>
                                </p>
                                <hr class="my-4">
                            </div>
                            <!-- Social Account Links -->
                            <div class="text-white-50">
                                {% get_providers as socialaccount_providers %}
                                {% if socialaccount_providers %}
                                <p>{% blocktrans with site.name as site_name %}Choose to sign in with one
                                    of your existing third party accounts.{% endblocktrans %}</p>
                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                {% include "socialaccount/snippets/login_extra.html" %}
                                {% else %}
                                <p>{% blocktrans %}If you have not created an account yet, then please
                                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}