{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-8 col-md-8 col-lg-8 mx-auto" style="max-width: 500px;">
                <div class="card bg-dark text-white shadow-sm" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">

                            <h3 class="fw-bold mb-4 text-uppercase">{% trans "Please Wait..." %}</h3>
                            <p class="text-white-50 mb-5">{% trans 'Are you sure you want to Log Out?' %}</p>
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button class="btn btn-signup right px-3 py-1 rounded-3 bg-primary" type="submit">{% trans 'Log Out' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}