{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %} Gamers Insight - Password Reset {% endblock %}

{% block content %}
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-8 col-md-8 col-lg-8 mx-auto" style="max-width: 500px;">
                <div class="card bg-clr-dom-light text-white shadow-sm" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">

                            <h3 class="fw-bold mb-2 text-uppercase">{% trans "Password Reset" %}</h3>
                            {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                            <p class="text-white-50 mb-5">Please enter the email address associated with your user account.</p>

                            <div class="form-outline form-white mb-4 form-group">
                                <!-- Login form -->
                                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                    {% csrf_token %} <!-- Security token from django against attackers -->
                                    <fieldset class="form-group">
                                        {{ form.as_p }}
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-primary mt-4 mb-4" type="submit" value="{% trans 'Reset My Password' %}">Request Password &raquo;</button>
                                    </div>
                                </form>
                                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}