{% extends "base.html" %}

{% load i18n %}

{% block title %} Gamers Insight - Password Changed Done {% endblock %}

{% block content %}
<section>
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card bg-clr-dom-light text-white shadow-sm" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">
            <h3 class="fw-bold mb-4 text-uppercase">{% trans "Password Changed" %}</h3>
            <p> Your password has been changed successfully.</p>
            <div class="mt-3">
              <a class="btn btn-primary" href="{% url 'profile' %}">Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
