{% extends "base.html" %}

{% load socialaccount %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<section>
    <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-8 col-md-8 col-lg-8 mx-auto" style="max-width: 500px;">
                <div class="card bg-clr-dom-light text-white shadow-sm" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">
                            <h3 class="fw-bold mb-2 text-uppercase">{% trans "Register" %}</h3>
                            <p class="text-white-50 mb-5">Join the community and start share your gaming knowledge!
                            </p>
                            <div class="form-outline form-white mb-4 form-group">
                                <!-- Sign Up form -->
                                <form method="post" action="{% url 'account_signup' %}" class="signup" id="signup_form">
                                    {% csrf_token %} <!-- Security token from django against attackers -->
                                    <div class="form-row mb-4">
                                        {{ form.username|as_crispy_field }}
                                    </div>
                                    <div class="form-row mb-4">
                                        {{ form.email|as_crispy_field }}
                                    </div>
                                    <div class="form-row mb-4">
                                        {{ form.password1|as_crispy_field }}
                                    </div>
                                    <div class="form-row mb-4">
                                        {{ form.password2|as_crispy_field }}
                                    </div>
                                    <button class="btn btn-signup right px-3 py-1 rounded-3 bg-primary mb-5"
                                        type="submit">{% trans "Sign Up" %} &raquo;</button>
                                </form>
                                <a href="{% provider_login_url 'github' %}" class="btn btn-primary">Signup with GitHub</a>
                            </div>
                            <!-- Log In Redirect -->
                            <div>
                                <hr class="my-4">
                                <p class="mb-0">{% blocktrans %}Already have an account? <a class="text-primary fw-bold"
                                        href="{{ login_url }}">Log In!</a> {% endblocktrans %}</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}