{% extends "base.html" %}

{% block title %} Gamers Insight - About Us {% endblock %}

{% block content %}
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-8">
                <div class="card bg-clr-dom-light text-white shadow-sm" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">

                            <h3 class="fw-bold mb-2 text-uppercase">GAMERS INSIGHT - Blog community</h3>
                            <p class="text-white-50 mb-2 text-sm-center text-md-left">
                                Gamers Insight is your portal to the ever-expanding world of gaming. Our platform is a
                                haven for gaming enthusiasts, a place where players and creators come together to
                                celebrate the art and science of video games. Dive into a realm of meticulously crafted
                                reviews that dissect game mechanics, explore mesmerizing graphics, unravel captivating
                                storylines, and deliver an all-encompassing gaming experience.<br><br>
                                <div>
                                    <img class="img-fluid mb-4 rounded-2" src="https://res.cloudinary.com/dpwnz6ieo/image/upload/v1695820060/secretman_iazl4z.jpg" alt="Responsive image" width="380px" height="580px"  />
                                </div>
                                At Gamers Insight, we're more than just a website; we're a thriving community of
                                passionate gamers who share their profound insights, thoughts, and critiques. Our
                                mission is to empower gamers of all levels, from casual players to dedicated
                                enthusiasts, with a platform to voice their opinions, engage in thoughtful discussions,
                                and explore diverse perspectives.<br><br>

                                Join us on this epic journey through the gaming cosmos, where every click unveils a new
                                adventure and every scroll reveals a hidden treasure. Whether you're looking for the
                                next game to conquer or seeking to express your unique gaming genius, Gamers Insight is
                                your ultimate destination.
                            </p>
                            {% if user.is_authenticated %} 
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                <a class="btn btn-primary rounded-pill btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'post_create' %}">Create Post</a>
                            </div>
                            {% else %}
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                <a class="btn btn-primary rounded-pill btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'account_signup' %}">Join Now</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{%endblock%}