{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Gamers Insight - Post Detail {% endblock %}

{% block content %}

<div class="blog-single bg-clr-dom">
    <div class="container">
        <div class="row align-items-start justify-content-center">
            <div class="col-lg-8 m-15px-tb">
                <!-- Article Section -->
                <article class="article text-white">
                    <div class="article-img">
                        {% if "placeholder" in post.featured_image.url %}
                        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                        {% else %}
                        <img src=" {{ post.featured_image.url }}" width="100%">
                        {% endif %}
                    </div>
                    <div class="article-title">
                        <div class="article-likes d-flex">

                            <h6 class="text-primary"><a href="#">Category</a></h6>
                            <!-- Like Post if statement -->
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                            class="fas fa-heart"></i></button>
                                    {% else %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                            class="far fa-heart"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="text-white"><i class="far fa-heart"></i></span>
                                {% endif %}
                                <!-- The number of likes -->
                                <span class="text-white">{{ post.number_of_likes }} </span>
                            </strong>
                        </div>

                        <h2>{{ post.title }}</h2>
                        <div class="media">
                            <div class="avatar">
                                <img src="{{ post.author.userprofile.profile_picture.url }}" title="" alt="">
                            </div>
                            <div class="media-body">
                                <label>{{ post.author }}</label> 
                                    <small>
                                        <!-- Check for user authentication and compares user id with post author id -->
                                        {% if user.is_authenticated %}
                                        {% if user.id == post.author.id %}
                                        <a class="text-secondary fw-bolder" href="{% url 'post_update' post.slug %}"> (Edit)</a>
                                        <a class="text-secondary fw-bolder" href="{% url 'post_delete' post.slug %}"> (Delete)</a>
                                        {% endif %}
                                        {% endif %}
                                    </small>
                                <span>{{ post.created_on }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        <!-- Safe is used to show HTML throught the post content -->
                        {{ post.content | safe }}
                    </div>
                </article>

                <!-- Comment Section -->
                <div class="contact-form article-comment text-white">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is Succesfully added
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}<!-- Security token from django against attackers -->
                        <div class="d-flex justify-content-between">
                            <h4 class="float-left">New Comment</h4>
                            <button type="submit"
                                class="btn btn-signup right px-3 py-1 rounded-3 bg-primary mt-3">Submit</button>
                        </div>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-3 col-lg-2 d-none d-sm-block">
                                    <img class="img-responsive" src="{{ post.author.userprofile.profile_picture.url }}"
                                        alt="image">
                                </div>
                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                    <textarea name="{{ comment_form.body.name }}" placeholder="Your message"
                                        id="{{ comment_form.body.id_for_label }}" class="form-control" rows="4"
                                        required></textarea>
                                    <!-- If there are validation errors, this tag will render the error messages next to the form field -->
                                    {{ comment_form.body.errors }}
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>

                <!-- View Comment Section -->
                <div class="contact-form article-comment mt-4">
                    {% with comments.count as total_comments %}
                    <h4>
                        {{ total_comments }} Comments
                    </h4>
                    {% endwith %}
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name}}
                            <span class=" text-primary font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% endblock content %}