{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="blog-single bg-clr-dom">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-8 m-15px-tb">
                <article class="article text-white">
                    <div class="article-img">
                        {% if "placeholder" in post.featured_image.url %}
                        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                        {% else %}
                        <img src=" {{ post.featured_image.url }}" width="100%">
                        {% endif %}
                    </div>
                    <div class="article-title">
                        <h6><a href="#">Category</a></h6>
                        <h2>{{ post.title }}</h2>
                        <div class="media">
                            <div class="avatar">
                                <img src="{{ post.author.userprofile.profile_picture.url }}" title="" alt="">
                            </div>
                            <div class="media-body">
                                <label>{{ post.author }}</label>
                                <span>{{ post.created_on }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        {{ post.content | safe }}
                    </div>
                </article>
                <div class="contact-form article-comment text-white">
                    <h4>Leave a Comment</h4>
                    <div class="card-body">
                        {% if commented %}
                        <div class="alert alert-success" role="alert">
                            Your comment is Succesfully added
                        </div>
                        {% else %}
                        {% if user.is_authenticated %}
                        <p>Posting as: {{ user.username }}</p>
                        <form method="post" style="margin-top: 1.3em;">
                            {{ comment_form | crispy }}
                            {% csrf_token %} <!-- Security token from django against attackers -->
                            <button type="submit"
                                class="btn btn-signup right px-3 py-1 rounded-3 bg-primary mb-5 mt-3">Submit</button>
                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="contact-form article-comment mt-4">
                    <h4>Comments:</h4>
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <!-- The commenter's name -->
                            {{ comment.name}}
                            <span class=" text-primary font-weight-normal">
                                <!-- created date-->
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        <!-- The body of the comment | -->
                        {{ comment.body | linebreaks }}
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                </div>
            </div>

            {% endblock content %}