{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Gamers Insight - Profile {% endblock %}

{% block content %}

<div class="container bg-clr-dom-light mx-auto">
    <!-- Begin Page Content -->
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4 text-white">Profile</h1>
        </div>
    </div>

    <!-- Main Content Here -->
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-3 my-5">
            <img src="{{ request.user.userprofile.profile_picture.url }}" class="rounded-circle float-right"
                height="200px" width="200px">
        </div>
        <div class="card-body text-white o-hidden my-5 col-lg-5">
            <p><strong>Name: </strong>{{request.user.first_name}} {{request.user.last_name}}</p>
            <p><strong>Username: </strong> {{request.user.username}} </p>
            <p><strong>Email: </strong> {{request.user.email}} </p>
            <p><strong>Bio: </strong> {{request.user.userprofile.bio}} </p>
            <p><strong>Country: </strong> {{request.user.userprofile.country}} </p>
            <a href="{% url 'profile_update' %}" class="text-white px-3 py-1 rounded-3 bg-primary mx-5">Update
                Profile</a>
        </div>
    </div>
</div>

{% endblock %}