<div class="container-centered d-grid gap-2 d-md-block text-center">
    <!-- Button menu for different blog categories -->
    <a class="text-white px-3 py-1 rounded-3 bg-primary mx-5 fw-bold" role="button" data-mdb-ripple-color="dark" href="{% url 'index' %}">All Category</a>
    <a class="text-white px-3 py-1 rounded-3 bg-primary mx-5 fw-bold" role="button" data-mdb-ripple-color="dark" href="{% url 'category' genre='FPS' %}">FPS</a>
    <a class="text-white px-3 py-1 rounded-3 bg-primary mx-5 fw-bold" role="button" data-mdb-ripple-color="dark" href="{% url 'category' genre='MMO' %}">MMO</a>
    <a class="text-white px-3 py-1 rounded-3 bg-primary mx-5 fw-bold" role="button" data-mdb-ripple-color="dark" href="{% url 'category' genre='RPG' %}">RPG</a>
</div>