<div class="container-centered d-grid gap-2 d-md-block text-center">
    <!-- Text link for All Recipes -->
    <a class="text-white px-3 py-1 rounded-3 bg-primary mx-5" role="button" data-mdb-ripple-color="dark" href="#">All Category</a>
    <a class="text-white px-3 py-1 rounded-3 bg-primary mx-5" role="button" data-mdb-ripple-color="dark" href="#">FPS</a>
    <a class="text-white px-3 py-1 rounded-3 bg-primary mx-5" role="button" data-mdb-ripple-color="dark" href="#">MMO</a>
    <a class="text-white px-3 py-1 rounded-3 bg-primary mx-5" role="button" data-mdb-ripple-color="dark" href="#">RPG</a>
</div>