<div class="col">
    <div class="card h-100 bg-clr-dom-light">
        <!-- Image -->
        {% if "placeholder" in post.featured_image.url %}
        <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
        {% else %}
        <img class="card-img-top" src=" {{ post.featured_image.url }}">
        {% endif %}
        <div class="card-body text-white">

            <!-- Title with link to detail page-->
            <h5 class="card-title post-link"><a href="{% url 'post_detail' post.slug %}" class="card-link">
                    {% if post.category == 'fps' %}
                    <i class="fas fa-utensil-spoon"></i>
                    {% elif post.category == 'rpg' %}
                    <i class="fas fa-shield-alt"></i>
                    {% elif post.category == 'mmo' %}
                    <i class="fas fa-trophy"></i>
                    {% else %}
                    <!-- Handle other categories or no category here -->
                    {% endif %}
                    {{ post.title }} </a></h5>

            <!-- Author and date information -->
            <small class="author">
                by <a href="#">{{ post.author }}</a><br>
                <p class="text-secondary"> {{ post.created_on }}</p>
            </small><br>

            <!-- Likes and Comments -->
            <small><i class="fa fa-thumbs-up fa-lg"></i> <strong>{{ post.number_of_likes }}</strong> |
                Comments: {% with comments.count as total_comments %} {{ total_comments }} {% endwith %}</small>
            <hr>

            <!-- Excerpt -->
            <p class="card-text">
                {{ post.excerpt }}
            </p>
        </div>

        <!-- Card footer with date for last updated -->
        <div class="card-footer d-flex justify-content-between align-items-center pt-3 pb-3">
            <small class="text-white">Last updated: {{ post.date_updated }}</small>
            <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary info-btn btn-sm text-white">Info</a>
        </div>
    </div>
</div>