<div class="col">
    <div class="card h-100 bg-clr-dom-light">
        <!-- Image -->
        {% if "placeholder" in post.featured_image.url %}
        <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
        {% else %}
        <img class="card-img-top" src=" {{ post.featured_image.url }}">
        {% endif %}
        <div class="card-body text-white">

            <!-- Title with link to detail page-->
            <h5 class="card-title post-link"><a href="{% url 'post_detail' post.slug %}" class="card-link">
                    {{ post.title }} </a></h5>

            <!-- Author and date information -->
            <small class="author mb-4 d-block">
                <span class="text-secondary">{{ post.created_on|date:"F j Y" }}</span><br>
                <span class="text-white">by</span><a href="#"> {{ post.author }}</a>
            </small>

            <!-- Likes and Comments -->
            
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <!-- Left object -->
                        <div class="text-left"><i class="fa fa-thumbs-up fa-lg comment-custom-mr2"></i> {{ post.number_of_likes }}</div>
                    </div>
                    |
                    <div class="col">
                        <!-- Right object -->
                        <div class="text-right"><span class="comment-custom-mr">{{ post.comments.count }}</span>  <i class="fas fa-comment-dots fa-lg"></i></div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Excerpt -->
            <p class="card-text">
                {{ post.excerpt }}
            </p>
        </div>

        <!-- Card footer with date for last updated -->
        <div class="card-footer d-flex justify-content-between align-items-center pt-3 pb-3">
            <small class="text-white">Last updated: {{ post.updated_on|date:"D j Y" }}</small>
            <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary info-btn btn-sm text-white">Info</a>
        </div>
    </div>
</div>